<div class="card card--full">
    <h2>المهارات</h2>
    <div class="skills">
        <div class="skills-holder">
           {{range .Site.Data.skills}} 
               <div class="skill">
                <div class="skill-info">
                    <div class="skill-info-head">
                         <h3>{{.title}}</h3>
                         <span>{{.percent}}</span>
                    </div>
                    <div class="skill-info-bar">
                         <span class="layer"
                         style="width: {{.percent}}; background-color: {{.color}}">
                             
                         </span>
                    </div>
                </div>
               </div>
           {{end}}
        </div>
    </div>
</div>